.divB {
    display: flex;
    justify-content: space-around;
}

.add {
    font-size: 3em;
    color: #fafafa;
    background-color: purple;
}

.remove {
    font-size: 3em;
    color: #fafafa;
    background-color: purple;
}

.lista { 
    color: greenyellow;
}

.listEl {
    font-size: 1em;
    color: aqua;
}

body {
    background-image: url(au[.jpeg);
}
